<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="alternate" type="application/rss+xml" href="/feed.xml" title="{{ site.name }}">
<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="http://bastengao.com/common-css/common.min.css">
<link rel="stylesheet" href="/assets/syntax.css">
<!-- highlight.js
<link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/default.min.css">
<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
-->

<style>
.posts {
	padding-left: 20px;
}

.posts li {
	margin-top: 5px;
	margin-bottom: 5px;
}

.posts .post-title {
	font-size: 1.2em;
	font-weight: bold;
}
</style>
