<link href="//cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="//bastengao.com/util.css/common.min.css">
<!--[if lt IE 9]>
  <script src="https://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->

<!-- highlight.js -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/styles/github-dark-dimmed.min.css">
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.8.0/build/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<style>
body {
  background-color: #f9f9f9;
}

/* 大框架 */
.main {
	max-width: 950px;
  background-color: #fff;
}


/* 博客列表 */
.posts {
  /*
	padding-left: 20px;
	*/
}

.posts li {
	margin-top: 8px;
	margin-bottom: 8px;
}

.posts .post-title {
	margin-left: 20px;
	font-size: 1.2em;
	font-weight: bold;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 24px;
}

/* 博客 */
.post {
	font-size: 1.1em;
	line-height: 2em;
}

.main .post > .col-md-12 > p {
	margin-top: 0;
	margin-bottom: 1em;
}

.main .post p a {
	/*
	color: #333;
	border-bottom: 1px dashed red;
	text-decoration: none;
	*/
}

.main .post img {
  width: 100%;
}

.main .post pre {
  border: none;
  padding: 0;
}

.main .post pre > code {
  padding: 10px;
}
</style>
