<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-md-12">
                <strong class="m-v-10" style="display: block; font-size: 2em; font-weight: 500;">
                  {{ site.name }}
                  <small style="font-size: 40%; color: #777; line-height: 1; font-weight: 400;">{{ site.sub_title }}</small>
                </strong>
            </div>
        </div>

        <ul class="nav nav-pills">
            <li><a href="/"><i class="glyphicon glyphicon-home"></i> 首页</a></li>
            <li><a href="/blog/"><i class="glyphicon glyphicon-book"></i> 博客</a></li>
            <li><a href="/feed.xml"><i class="fa fa-rss-square"></i> RSS</a></li>
            <li><a href="/about-me/"><i class="glyphicon glyphicon-user"></i> 关于我</a></li>
        </ul>
        <hr class="m-v-0">
    </div>
</div>
