<h4>项目</h4>
<ul>
    <li><a href="https://github.com/bastengao/chinese_regions_rails/">chinese_regions_rails</a></li>
    <li><a href="https://github.com/bastengao/chinese-holidays-ruby/">chinese-holidays-ruby</a></li>
    <li><a href="https://github.com/bastengao/chinese-holidays-node/">chinese-holidays-node</a></li>
    <li><a href="https://github.com/bastengao/util.css/">util.css</a></li>
    <li><a href="https://github.com/bastengao/render-flash-now/">render-flash-now</a></li>
    <li><a href="https://github.com/bastengao/highcharts_exporting">highcharts_exporting</a></li>
    <li><a href="https://github.com/bastengao/submit_once">submit_once</a></li>
    <li><a href="https://github.com/bastengao/struts2-freeroute">struts2-freeroute</a></li>
    <li><a href="/painter/">Painter</a></li>
</ul>

<h4>教程</h4>
<ul>
    <li><a href="/jquery-tutorial/">jQuery 教程</a></li>
</ul>

<h4>实验</h4>
<ul>
	<li>
    <del>
      <a href="http://my-computer.basten.me/">我的电脑</a>
  		<p class="text-muted">金山快盘另一个客户端, try angular</p>
    </del>
	</li>
</ul>

<h4>GitHub</h4>
<div class="github-card" data-github="bastengao" data-width="200" data-height="100" data-theme="medium"></div>
<script src="http://lab.lepture.com/github-cards/widget.js"></script>
