<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include meta-author-description.html %}
    {% include common-css.html %}
</head>
<body>

<div class="main container">
    {% include head.html %}

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>{{ page.title }}</h1>
            </div>

            <p>
                {% for tag in page.tags %}
                <code>{{ tag }}</code>
                {% endfor %}
                {% if page.date %}
                写于{{ page.date | date:'%Y-%m-%d' }}
                {% endif %}
                {% if page.last_modified %}  最后修改 {{ page.last_modified | date: '%Y-%m-%d %H:%M' }} {% endif %}
            </p>
        </div>
    </div>
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12">
            {{ content }}
        </div>
    </div>
</div>

{% include fork-me-on-github.html %}

{% include google-analytics.html %}
</body>
</html>
