<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% include common-css.html %}
</head>
<body>

<div class="container">
    {% include head.html %}

    <div class="row">
        <div class="span12">
            <h1>{{ page.title }}</h1>
            <hr style="margin-bottom: 5px;">

            <p class="muted">
                {% for tag in page.tags %}
                <code class="muted"><a href="/tag/{{ tag }}">{{ tag }}</a></code>
                {% endfor %}
                写于{{ page.date | date:'%Y-%m-%d' }}
                {% if page.last_modified %} , 最后修改 {{ page.last_modified | date: '%Y-%m-%d %H:%M' }} {% endif %}</p>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="span12">
            {{ content }}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="span12">
            {% include cc-licenses.html %}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="span12">
            {% include disqus.html %}
        </div>
    </div>
</div>

{% include fork-me-on-github.html %}

{% include google-analytics.html %}
</body>
</html>