<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{site.name}}</title>
    {% include meta-tags-for-blog.html %}
    {% include common-css.html %}
</head>
<body>

<div class="main container">
    {% include head-for-blog.html %}

    <div class="row">
        <div class="col-md-12">
            <h1>{{ page.title }}</h1>
            <hr style="margin-bottom: 5px;">

            <p class="text-muted">
			    <i class="glyphicon glyphicon-tags"></i>
                {% for tag in page.tags %}
                <code><a class="text-muted" href="/tag/{{ tag }}/">{{ tag }}</a></code>
                {% endfor %}
                写于{{ page.date | date:'%Y-%m-%d' }}
                {% if page.last_modified %} , 最后修改 {{ page.last_modified | date: '%Y-%m-%d %H:%M' }} {% endif %}
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid" style="padding-top: 0;">
                <div class="post row">
                    <div class="col-md-12">
                    {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-12">
            {% include cc-licenses.html %}
        </div>
    </div>

    <!-- disable bsahre because not support https -->
    {% if false %}
    <div class="row">
        <div class="col-md-12">
            {% include bshare.html %}
        </div>
    </div>
    {% endif %}

    <div class="row" style="margin-top: 40px; margin-bottom: 40px; font-size: 1.4em;">
        <div class="col-md-6">
            {% if page.previous %}
            上一篇
            <a href="{{ page.previous.url }}"><strong>{{ page.previous.title }}</strong></a>
            {% endif %}
        </div>
        <div class="col-md-6">
            {% if page.next %}
            下一篇
            <a href="{{ page.next.url }}"><strong>{{ page.next.title }}</strong></a>
            {% endif %}
        </div>
    </div>

    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12">
            {% include disqus.html %}
        </div>
    </div>
</div>

{% include fork-me-on-github.html %}

{% include google-analytics.html %}
</body>
</html>
